<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard/layout}"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body layout:fragment="layout">
<form class="container" method="post">
  <div class="form-group">
    <input name="name" th:value="${category.name}" type="text" class="form-control"/>
    <input type="submit" class="btn btn-warning my-3" value="Update">
  </div>
</form>
</body>
</html>